.timer {
    font-size: 3rem;
    font-weight: bold;
}

#startBtn{
    background-color: #50C878;
    width: 10em;
}

#stopBtn {
    background-color: #C70039;
    width: 10em;
}

#resetBtn {
    background-color: #A9A9A9;
    width: 10em;
}